
.RowStyles{

    backgroundColor: "pink",
    cursor: "pointer",
    fontFamily: "Montserrat",
    "&:hover": {
  backgroundColor: "#131111",
}
}

.carousel {
    height: "50%";
    display: "flex";
    alignItems: "center";
  };